{% extends 'base.html' %}

{% block content %}
    <h1>Budget app</h1>
    <h2>Welcome {{user|title}}</h2>
    <h2>Total {{month}} budget - {{ monthly_budget.total_budget }}</h2>
    <h2>Total expenses - {{ monthly_budget.total_expenses }}</h2>
    <h2>Available budget - {{ monthly_budget.available_budget }}</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ income_form }}
        <button name="form-button" value="income">Save income</button>
    </form>
    <form action="" method="POST">
        {% csrf_token %}
        {{ expense_form }}
        <button name="form-button" value="expense">Save expense</button>
    </form>
    <ul>
    {% for expense in expenses %}
        <li>
            <div>
                <a href="{% url "expense-details-page" expense.id %}">
                {{ expense.title }}
                {{ expense.amount }}
                {{ expense.category }}
                </a>
            </div>
        </li>
    {% endfor %}
    </ul>
    <ul>
        {% for income in incomes %}
            <li>
                <div>
                    {{ income.title }}
                    {{ income.amount }}
                </div>
            </li>
        {% endfor %}
        </ul>
{% endblock  %}